@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
    src: url("./fonts/Roboto-Bold.ttf");
}
html {
    scroll-behavior: smooth
}
body {
    margin: 0;
}
.pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    height: 400px;
}
.headerContainer {
    background-image: url("./images/header-bg-img.jpg");
    background-size: cover;
    background-position: center 94%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.darkMask {
    background-color: black;
    opacity: 0.55;
    height: 100%;
    width: 100%;
}
.navButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.navButtonContainer ul {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 13%;
}
.navButtonContainer ul>a {
    font-family: Oswald;
    color: white;
    text-decoration: none;
    font-size: 18pt;
}
.headerContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
}
.headerCentralElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerPhoto {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 0px solid white;
    background-image: url("./images/avatar.jpg");
    background-position: 48% 33%;
}
.headerLegend {
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Oswald;
}
.headerLegend>h1,
.headerLegend>h2 {
    margin: 0;
    font-weight: 800;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
    height: 100%;
}
