body {
    margin: 0;
}
.pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;;
}
.header {
    height: 40%;
}
.headerImage {
    background-image: url("./images/bg-img.jpg");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
}
.darkMask {
    background-color: black;
    opacity: 0.55;
    height: 100%;
    width: 100%;
}